@()(implicit messages: MessagesApi, lang: Lang, assetsFinder: AssetsFinder)

@optanonInsert = {}

@main("The Reactive Manifesto Admin", "ltr", optanonInsert) {
    <main>
        <header>
            <h1>The <span>Reactive</span> Manifesto</h1>

        </header>

        <article class="admin">
            <h2>Admin list of signatories</h2>

            <ul>
                <li><a href="@controllers.admin.routes.AdminController.index()">Admin index</a></li>
                <li><a href="@controllers.admin.routes.AdminController.csv()">List signatories (CSV format)</a></li>
                <li><a href="@controllers.admin.routes.AdminController.logout()">Logout</a></li>
            </ul>

            <p>No. Don't do it. It's too much data. Your browser will crash. The website may crash trying to render the list. Download the CSV instead.</p>
        </article>

    </main>
    @footer.apply
}