@(signatories: Seq[controllers.admin.AdminController.FormattedSignatory])

@main {
    <main>
        <header>
            <h1>The <span>Reactive</span> Manifesto</h1>

        </header>

        <article class="admin">
            <h2>Admin list of signatories</h2>

            <ul>
                <li><a href="@controllers.admin.routes.AdminController.index()">Admin index</a></li>
                <li><a href="@controllers.admin.routes.AdminController.csv()">List signatories (CSV format)</a></li>
                <li><a href="@controllers.admin.routes.AdminController.logout()">Logout</a></li>
            </ul>

            <table>
                <tr><th>Id</th><th>Name</th><th>Provider</th><th>Provider ID</th><th>Provider Screen Name</th><th>Date signed</th></tr>
                @for(sig <- signatories) {
                    <tr>
                        <td>@sig.id</td><td>@sig.name</td><td>@sig.provider</td><td>@sig.providerId</td>
                        <td>@sig.providerScreenName</td><td>@sig.signed</td>
                    </tr>
                }
            </table>
        </article>

    </main>
    @footer()
}