@(implicit messages: MessagesApi, lang: Lang)
<footer>
    <a href="@routes.Application.index("en")">@messages("title")(Lang("en"))</a> (@messages("footer.english")) <br/>
    <a href="@routes.Application.index("es")" >@messages("title")(Lang("es"))</a> (@messages("footer.spanish")) <br/>
    <a href="@routes.Application.index("ja")" >@messages("title")(Lang("ja"))</a> (@messages("footer.japanese")) <br/>
    <a href="@routes.Application.index("de")" >@messages("title")(Lang("de"))</a> (@messages("footer.german")) <br/>
    <a href="@routes.Application.index("fr")" >@messages("title")(Lang("fr"))</a> (@messages("footer.french")) <br/>
    <a href="@routes.Application.index("it")" >@messages("title")(Lang("it"))</a> (@messages("footer.italian")) <br/>
    <a href="@routes.Application.index("pt")" >@messages("title")(Lang("pt"))</a> (@messages("footer.portuguese")) <br/>
    <a href="@routes.Application.index("pt-BR")" >@messages("title")(Lang("pt-BR"))</a> (@messages("footer.portugueseBrazilian")) <br/>
    <a href="@routes.Application.index("tr")" >@messages("title")(Lang("tr"))</a> (@messages("footer.turkish")) <br/>
    <a href="@routes.Application.index("id")" >@messages("title")(Lang("id"))</a> (@messages("footer.indonesia")) <br/>
    <a href="@routes.Application.index("zh-CN")" >@messages("title")(Lang("zh-CN"))</a> (@messages("footer.simpleChinese")) <br/>
    <a href="@routes.Application.index("ko")" >@messages("title")(Lang("ko"))</a> (@messages("footer.korean")) <br/>
    <a href="@routes.Application.index("fa")" >@messages("title")(Lang("fa"))</a> (@messages("footer.farsi")) <br/>
    <a href="@routes.Application.index("sw")" >@messages("title")(Lang("sw"))</a> (@messages("footer.swahili")) <br/>
    <br>
    <p>@Html(messages("footer.ribbonSupport", "<a href='" + routes.Application.ribbons(lang.code) + "'>", "</a>"))</p>
    <p class="copyright">&copy; @messages("footer.copyright")</p>
</footer>
<a class="ribbon" href="@routes.Application.ribbons(lang.code)" style="right: 0; top:0; position: absolute;"><img src="/images/ribbons/we-are-reactive-blue-right.png"></a>
