@(implicit messages: MessagesApi, lang: Lang)
<footer>
    <a href="@routes.Application.index("en")">@messages("title")(Lang("en"))</a> (@messages("footer.english")) <br/>
    <a href="@routes.Application.index("es")" >@messages("title")(Lang("es"))</a> (@messages("footer.spanish")) <br/>
    <a href="@routes.Application.index("ja")" >@messages("title")(Lang("ja"))</a> (@messages("footer.japanese")) <br/>
    <a href="@routes.Application.index("de")" >@messages("title")(Lang("de"))</a> (@messages("footer.german")) <br/>
    <a href="@routes.Application.index("fr")" >@messages("title")(Lang("fr"))</a> (@messages("footer.french")) <br/>
    <a href="@routes.Application.index("pt")" >@messages("title")(Lang("pt"))</a> (@messages("footer.portuguese")) <br/>
    <a href="@routes.Application.index("pt-BR")" >@messages("title")(Lang("pt-BR"))</a> (@messages("footer.portugueseBrazilian"))
    <br/><br/>
    @Html(messages("footer.ribbonSupport", "<a href='" + routes.Application.ribbons(lang.code) + "'>", "</a>"))
</footer>
<a class="ribbon" href="@routes.Application.ribbons(lang.code)" style="right: 0; top:0; position: absolute;"><img src="/images/ribbons/we-are-reactive-blue-right.png"></a>