@(glossary: Html, dir: String)(implicit messages: MessagesApi, lang: Lang)

@main(s"${messages("glossary.title")} - ${messages("title")}", dir) {
    <main>
        <header>
            <a class="title-link" href="@routes.Application.index(lang.code)"><h1>@Html(messages("title.formatted", "<span>", "</span>"))</h1></a>
        </header>

        <article>
            <section id="glossary">
                <h1>@messages("glossary.title")</h1>

                @glossary

                <a href="#glossary" class="btt">&#8593; @messages("glossary.backToTop")</a>

            </section>
        </article>
        @footer.apply
    </main>
}
