@(glossary: Html)(implicit lang: Lang)

@main(s"${Messages("glossary.title")} - ${Messages("title")}") {
    <main>
        <header>
            <a class="title-link" href="@routes.Application.index(lang.code)"><h1>@Html(Messages("title.formatted", "<span>", "</span>"))</h1></a>
        </header>

        <article>
            <section id="glossary">
                <h1>@Messages("glossary.title")</h1>

                @glossary

                <a href="#glossary" class="btt">&#8593; @Messages("glossary.backToTop")</a>

            </section>
        </article>
        @footer.apply
    </main>
}
