@(manifesto: Html, fullLang: String, dir: String)(implicit messages: MessagesApi, lang: Lang, assetsFinder: AssetsFinder)


@optanonInsert = {
    Optanon.InsertHtml('<a href="https://twitter.com/share" class="twitter-share-button" data-lang="@lang.code">Tweet</a><div class="fb-like" data-href="https://www.reactivemanifesto.org" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="false"></div>', 'share-buttons', function() {if (typeof FB !== 'undefined') {FB.XFBML.parse();} if (typeof twttr !== 'undefined') {twttr.widgets.load();}}, null, 4)
}

@main(messages("title"), dir, optanonInsert) {
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v19.0"></script>
    <div id="sign">
        <span class="close">×</span>
        <div data-bind="with: loggedInUser">
            <a class="logout" href="#" data-bind="click: $root.logOut">@messages("sign.logout")</a>
            <p>
                @messages("sign.hello") <span data-bind="text: name"></span>.
            </p>
            <hr/>
            <div class="inner" data-bind="ifnot: $data.signed">
                <button data-bind="click: $root.sign" class="vote">
                    @messages("sign.addYourSignature") (<span data-bind="text: $root.total"></span>)
                </button>
            </div>
            <div class="inner" data-bind="if: $data.signed">
                <p>
                    @messages("sign.thankYouAndSpreadTheWord")
                </p>
                <button data-bind="click: $root.unsign" class="vote unvote">
                    @messages("sign.removeYourSignature")
                </button>
            </div>
        </div>
        <div data-bind="ifnot: loggedInUser">
            <p>
                @Html(messages("sign.hiThere", "<br/>"))
            </p>
            <hr/>
            <div class="inner">
                <button data-bind="click: logInGitHub" class="btn btn-github">
                    @messages("sign.signInWith", "GitHub")
                </button>

                <button data-bind="click: logInGoogle" class="btn btn-google">
                    @messages("sign.signInWith", "Google")
                </button>

                <button data-bind="click: logInLinkedIn" class="btn btn-linkedin">
                    @messages("sign.signInWith", "LinkedIn")
                </button>
            </div>
        </div>
    </div>
    <main>
        <header>
            <h1>@Html(messages("title.formatted", "<span>", "</span>"))</h1>
            <aside>
                <p>
                    @messages("manifesto.publishVersion")
                </p>

            </aside>
        </header>


        <article>
            @manifesto

            <div class="sign" id="sign-button">
                <button data-bind="click: signTheManifesto, clickBubble: false">@messages("sign.signTheManifesto")</button>
            </div>


        </article>
        <p class="signatures">
            <span data-bind="ifnot: total">@messages("list.loading")</span>
            <span data-bind="if: total">
                <span data-bind="template: { name: 'total-template', data: total }"></span>
            </span>
        </p>
        <div data-bind="if: signatories" class="signatures">
            <span data-bind="template: { name: 'signatories-template', data: signatories }"></span>
        </div>

        <article class="social">
                <section id="share-buttons">

                </section>

                <!-- Turning off this for now as it doesn't play nice with onetrust cookie tool
                <script type="IN/Share" data-url="http://reactivemanifesto.org" data-counter="right"></script>
                -->

                <p>
                    <a class="" href="@routes.Application.glossary(lang.code)">@messages("glossary.title")</a>
                </p>

                <p>
                    <a class="pdf" href="@routes.Assets.versioned("pdf/the-reactive-manifesto-2.0" + Option(lang.code).filterNot(_ == "en").fold("")("-" + _) + ".pdf")">@messages("manifesto.downloadAsPDF")</a>
                </p>
                <p>
                <a class="pdf" href="https://github.com/reactivemanifesto/reactivemanifesto/blob/master/README@{Option(lang.code).filterNot(_ == "en").fold("")("." + _)}.md">@messages("manifesto.suggestImprovements")</a>
                </p>
                <p>
                    <a href="https://www.reactiveprinciples.org">@messages("principles.cta")</a>
                </p>
                <br />
                <p><strong>Authors</strong> (in alphabetic order, with roughly equal contributions):<br /> Jonas Bonér, Dave Farley, Roland Kuhn, and Martin Thompson. With the help and refinement of many members in the community.</p>
        </article>

        @footer.apply

    </main>
    <script type="text/html" id="total-template">
        @Html(messages("list.peopleAlreadySigned", "<span data-bind='text: $data'></span>"))
        (<a href="@routes.Application.list(lang.code)">@messages("list.fullList")</a>)
    </script>

    <script type="text/html" id="signatories-template">
        <ul class="full" data-bind="foreach: $data">
            <li>
                <span data-bind="if: $data.avatarUrl">
                    <img class="avatar" data-bind="attr: { src: $data.avatarUrl }" width="25" height="25"/>
                </span>
                <cite class="user" data-bind="text: name"></cite>
            </li>
        </ul>
    </script>

    <script type="text/javascript">
    ;(function() {

        // Element
        var headerMinimized = $("#headerMinimized"),
            header = $("header");

        // Duplicate the header to play with
        headerMinimized.html(header.html());

        // Toggle table of content display
        headerMinimized.click(function() {
            $("body").toggleClass("opened");
        });

        $("main").click(function() {
            $("body").removeClass("opened");
            $("body").removeClass("signing");
        });

        $(".close").click(function() {
            $("body").removeClass("opened");
            $("body").removeClass("signing");
        });

        // Show table of content on scroll
        window.onscroll = function() {
            if (window.pageYOffset > 800) {
                $("body").addClass("display");
            } else {
                $("body").removeClass("display");
            }
            // Always hide menu when scrolling
            $("body").removeClass("opened");
        };
    }());
    </script>

    <script type="text/plain" class="optanon-category-4">

        // SHARE BUTTONS
        // Twitter
        ;(function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}
        }(document, 'script', 'twitter-wjs'));

    </script>
    <script src="https://platform.linkedin.com/in.js" type="text/plain" class="optanon-category-4">lang: @fullLang</script>
}
