@main {
    <div id="headerMinimized"></div>
    <div id="sign">
        <span class="close">×</span>
        <div data-bind="with: loggedInUser">
            <a class="logout" href="#" data-bind="click: $root.logOut">Logout</a>
            <p>
                Hello <span data-bind="text: name"></span>.
            </p>
            <hr/>
            <div class="inner" data-bind="ifnot: $data.signed">
                <button data-bind="click: $root.sign" class="vote">
                    Add your signature (<span data-bind="text: $root.total"></span>)
                </button>
            </div>
            <div class="inner" data-bind="if: $data.signed">
                <p>
                    Thank you! And spread the word!
                </p>
                <button data-bind="click: $root.unsign" class="vote unvote">
                    Remove your signature
                </button>
            </div>
        </div>
        <div data-bind="ifnot: loggedInUser">
            <p>
                Hi there,<br/> You need to be logged to sign the manifesto
            </p>
            <hr/>
            <div class="inner">

                <button data-bind="click: logInTwitter" class="btn btn-twitter">
                    Sign In with Twitter
                </button>

                <button data-bind="click: logInGitHub" class="btn btn-github">
                    Sign In with GitHub
                </button>

                <button data-bind="click: logInGoogle" class="btn btn-google">
                    Sign In with Google
                </button>

                <button data-bind="click: logInLinkedIn" class="btn btn-linkedin">
                    Sign In with LinkedIn
                </button>
            </div>
        </div>
    </div>
    <main>
        <header>
            <h1>The <span>Reactive</span> Manifesto</h1>

            <aside>
                <p>
                    @manifestoVersion()
                </p>
                <div class="social">
                    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Freactivemanifesto.org&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=17899947359" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
                    <div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://reactivemanifesto.org"></div><br/>
                    <script type="IN/Share" data-url="http://reactivemanifesto.org" data-counter="right"></script>
                <p>
                    <a class="pdf" href="@routes.Assets.at("pdf/the-reactive-manifesto-1.1.pdf")">Download as PDF</a>
                </p>
                <p>
                    <a class="pdf" href="https://github.com/reactivemanifesto/reactivemanifesto/blob/master/README.md">Suggest improvements</a>
                </p>
                </div>
            </aside>

            <nav id="table">
                @manifestoContents()
            </nav>

            <div class="sign">
                <button data-bind="click: signTheManifesto, clickBubble: false">Sign the manifesto</button>
            </div>
        </header>

        <p class="signatures">
            <span data-bind="ifnot: total">Loading...</span>
            <span data-bind="if: total">
                <span data-bind="template: { name: 'total-template', data: total }"></span>
            </span>
        </p>
        <div data-bind="if: signatories" class="signatures">
            <span data-bind="template: { name: 'signatories-template', data: signatories }"></span>
        </div>

        <div class="cloud"></div>

        <article>

            @manifesto()

            <div class="sign">
                <button data-bind="click: signTheManifesto, clickBubble: false">Sign the manifesto</button>
            </div>


        </article>

        @footer()

    </main>
    <script type="text/html" id="total-template">
        <span data-bind="text: $data"></span> people already signed (<a href="/list">Full list</a>)
    </script>

    <script type="text/html" id="signatories-template">
        <ul class="full" data-bind="foreach: $data">
            <li>
                <span data-bind="if: $data.avatarUrl">
                    <img class="avatar" data-bind="attr: { src: $data.avatarUrl }" width="25" height="25"/>
                </span>
                <cite class="user" data-bind="text: name"></cite>
            </li>
        </ul>
    </script>

    <script type="text/javascript">
    ;(function() {

        // Element
        var headerMinimized = $("#headerMinimized"),
            header = $("header");

        // Duplicate the header to play with
        headerMinimized.html(header.html());

        // Toggle table of content display
        headerMinimized.click(function() {
            $("body").toggleClass("opened");
        });

        $("main").click(function() {
            $("body").removeClass("opened");
            $("body").removeClass("signing");
        });

        $(".close").click(function() {
            $("body").removeClass("opened");
            $("body").removeClass("signing");
        });

        // Show table of content on scroll
        window.onscroll = function() {
            if (window.pageYOffset > 800) {
                $("body").addClass("display");
            } else {
                $("body").removeClass("display");
            }
            // Always hide menu when scrolling
            $("body").removeClass("opened");
        };
    }());


    // SHARE BUTTONS
    // Twitter
    ;(function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}
    }(document, 'script', 'twitter-wjs'));

    // Google
    ;(function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    }());
    </script>
    <script src="http://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
}
