@(implicit messages: MessagesApi, lang: Lang)

@main(s"${messages("list.title")} - ${messages("title")}") {
    <main>
        <header>
            <h1>@Html(messages("title.formatted", "<span>", "</span>"))</h1>
        </header>
        <p class="signatures">
            <span data-bind="ifnot: total">@messages("list.loading")</span>
            <span data-bind="if: total">
                <span data-bind="template: { name: 'total-template', data: total }"></span>
            </span>
        </p>
        <div class="signatures">
            @messages("list.search"): <input data-bind="value: searchField, valueUpdate: 'afterkeydown'"/>
            <span class="searching">
                <img src="@routes.Assets.versioned("images/spinner.gif")" data-bind="visible: searching"/>
            </span>
        </div>
        <div data-bind="if: signatories" class="signatures">
            <span data-bind="template: { name: 'signatories-template', data: signatories }"></span>
        </div>

        @footer.apply
    </main>

    <script type="text/html" id="total-template">
        @Html(messages("list.peopleAlreadySigned", "<span data-bind='text: $data'></span>"))
        (<a href="@routes.Application.index(lang.code)">@messages("list.goBackToTheManifesto")</a>)
    </script>

    <script type="text/html" id="signatories-template">
        <ul class="full" data-bind="foreach: $data">
            <li style="display: block">
                <span data-bind="if: $data.avatarUrl">
                    <img class="avatar" data-bind="attr: { src: $data.avatarUrl }" width="25" height="25"/>
                </span>
                <span data-bind="text: name"></span> <span data-bind="text: fromNowSigned"></span> (<a class="version" data-bind="attr: { href: $data.version[1]}, text: version[0]"></a>)
            </li>
        </ul>
        <span data-bind="if: $root.fetchMore">
            <button data-bind="click: $root.doFetchMore" class="button">@messages("list.fetchMore")</button>
        </span>
    </script>
}