@(title: String, textDirection: String = "ltr", optanonInsert: Html)(content: Html)(implicit messages: MessagesApi, lang: Lang, assetsFinder: AssetsFinder)

<!DOCTYPE html>
<html lang="@lang.code" dir="@textDirection">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>@title</title>
		<link rel="stylesheet" href="@assetsFinder.path("stylesheets/main.css")" />
		<link rel="shortcut icon" href="@assetsFinder.path("images/favicon.ico")" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<!-- OneTrust Cookies Consent Notice (Production Standard, reactivemanifesto.org, en-GB) start -->
		<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="93a21acc-3009-46bb-8edb-88a1df1243bc"></script>
		<script type="text/javascript">
			function OptanonWrapper() {
				@optanonInsert
			}
		</script>
		<!-- OneTrust Cookies Consent Notice (Production Standard, reactivemanifesto.org, en-GB) end -->
		<script src="@assetsFinder.path("lib/jquery/jquery.js")" type="text/javascript"></script>
		<script src="@assetsFinder.path("lib/knockout/knockout.js")" type="text/javascript"></script>
		<script src="@assetsFinder.path("javascripts/main.js")" type="text/javascript"></script>
		<meta property="og:url"           content="https://www.reactivemanifesto.org" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="The Reactive Manifesto" />
		<meta property="og:description"   content="Systems architecture for the modern age." />
		<meta property="og:image"         content="https://www.reactivemanifesto.org/images/logo.png" />
	</head>
	<body>
		@content

		<script src="@assetsFinder.path("lib/retinajs/retina.js")" type="text/javascript"></script>
		<!-- Google Tag Manager - Used to load GA4 Analytics - cookie compliance is managed inside tag manager  -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-NKW8QMN');
		</script>
		<!-- End Google Tag Manager -->

		<!-- NOTE Old Universal Google Anayltics UA-42352555-1 is now handled by Tag Manager above -->

	</body>
</html>
