@(implicit messages: MessagesApi, lang: Lang, assetsFinder: AssetsFinder)

@import scala.util.matching._
@getImg(img: String) = {
    &lt;a href="http://www.reactivemanifesto.org/"&gt;
        &lt;img style="border: 0; position: fixed; @{
            if (img contains "left") "left"
            else "right"
        }: 0; top:0; z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/@img"&gt;
    &lt;/a&gt;
}

@main(s"${messages("ribbons.title")} - ${messages("title")}") {
    <main>
        <header>
            <a class="title-link" href="@routes.Application.index(lang.code)"><h1>@Html(messages("title.formatted", "<span>", "</span>"))</h1></a>
        </header>
        <article>
            <h2>@messages("ribbons.showYourSupport")</h2>
            <p>@Html(messages("ribbons.instructions"))</p>
            <ul class="ribbons">
                @defining(Seq(
                    "we-are-reactive-black-left.png",
                    "we-are-reactive-blue-left.png",
                    "we-are-reactive-green-left.png",
                    "we-are-reactive-orange-left.png",
                    "we-are-reactive-red-left.png",
                    "we-are-reactive-white-left.png",
                    "we-are-reactive-yellow-left.png",
                    "we-are-reactive-black-right.png",
                    "we-are-reactive-blue-right.png",
                    "we-are-reactive-green-right.png",
                    "we-are-reactive-orange-right.png",
                    "we-are-reactive-red-right.png",
                    "we-are-reactive-white-right.png",
                    "we-are-reactive-yellow-right.png"
                )) { list =>
                    @list.map { img =>
                    <li>
                        <img src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/@img">
                        <code>@getImg(img)</code>
                    </li>
                    }
                }
            </ul>
        </article>
        @footer.apply
    </main>
}
