@import scala.util.matching._
@getImg(img: String) = {
    &lt;a href="http://www.reactivemanifesto.org/"&gt;
        &lt;img style="border: 0; position: fixed; @{
            if (img contains "left") "left"
            else "right"
        }: 0; top:0; z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/@img"&gt;
    &lt;/a&gt;
}

@main {
    <main>
        <header>
            <h1>The <span>Reactive</span> Manifesto</h1>
        </header>
        <article>
            <h2>Show your support!</h2>
            <p>Choose a ribbon that you like, right or left, and copy/paste the code underneath in your html page right before <code>&lt;/body&gt;</code>.</p>
            <ul class="ribbons">
                @defining(Seq(
                    "we-are-reactive-black-left.png",
                    "we-are-reactive-blue-left.png",
                    "we-are-reactive-green-left.png",
                    "we-are-reactive-orange-left.png",
                    "we-are-reactive-red-left.png",
                    "we-are-reactive-white-left.png",
                    "we-are-reactive-yellow-left.png",
                    "we-are-reactive-black-right.png",
                    "we-are-reactive-blue-right.png",
                    "we-are-reactive-green-right.png",
                    "we-are-reactive-orange-right.png",
                    "we-are-reactive-red-right.png",
                    "we-are-reactive-white-right.png",
                    "we-are-reactive-yellow-right.png"
                )) { list =>
                    @list.map { img =>
                    <li>
                        <img src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/@img">
                        <code>@getImg(img)</code>
                    </li>
                    }
                }
            </ul>
        </article>
        @footer()
    </main>
}
